@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');

.warningContainer {
  width: 100%;
  height: 500px;
  text-align: center;
}

.warningTitle {
  margin: 120px 0 60px 0;
  font-family: 'Gasoek One', sans-serif;
  font-size: 48px;
  font-weight: 400;
  color: #943d3d;
}

.warningMsg {
  font-size: 20px;
  color: #943d3d;
}